# ==============================
# Python virtual environments
# ==============================
.venv/
.venv_nuimages/

# ==============================
# Python cache
# ==============================
__pycache__/
*.py[cod]

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# nuImages raw dataset
# ==============================
03_autonomous_driving/data/raw/

# ==============================
# OS / IDE
# ==============================
.DS_Store
Thumbs.db

# Smart Agriculture datasets
03_smart_agriculture/data/raw/
03_smart_agriculture/data/processed/
03_smart_agriculture/data/pilot/

# Smart Agriculture models
03_smart_agriculture/models/

# External CropAndWeed repository
03_smart_agriculture/cropandweed-dataset/
