# ==============================
# Python virtual environments
# ==============================
.venv/
.venv_nuimages/

# ==============================
# Python cache
# ==============================
__pycache__/
*.py[cod]

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# nuImages raw dataset
# ==============================
03_autonomous_driving/data/raw/

# ==============================
# OS / IDE
# ==============================
.DS_Store
Thumbs.db